.cardextra {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > span {
    > span:not(:first-child) {
      margin-left: 0.5rem;
    }
  }
}

.ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
