.container {
  display: flex;

  >div {
    margin: 0 0.5rem;
  }
}

.container_narrow {
  display: flex;
  flex-direction: column;

  >div {
    margin: 0 0.5rem;
  }
}

.container_image {
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;

  >div.fuckyou {
    margin-top: 1rem !important;
  }
}
